* {
    border: 0.5px red;
}

.header {
    color: #F9FAF8;
    background-color: #1f2937;
    font-size: 24px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header-logo {

}

ul {
    display: flex;
}
